* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.head_bg {

  background-color: #F3669D;

}

.head_bg2 {

  background-color: #ff9800;

}

.sub_head1 {

  background-color: #198754;

}

.sub_bg{

  
  background-color: #36454F;
  

}